div {
    display: block;
}
*{
    font-size: 12px;
    font-family: Arial;
}
td{
    vertical-align: top;
}

.pontuacao{
    border: 1px solid black;
    float: right;
    background-color: #FFF;
    padding: 1.5px;
}
.corpo{
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 50px;
}

.corpo td{
    background-color: #ebebeb;
}

.historias{
    width: 10%;
    text-align: center;
}
.status{
    text-align: center;
    width: 22%;
    font-weight: bold;
    font-size: 16px;
}

.off_links{
    cursor: pointer;
}

.off_links img{
    top: 3px;
    position: relative;
}

.scrum-burndown{
    margin: 0px 0px 0px 0px;
    margin-left: 20%;
    width: 60%;
    min-height: 300px;
    background-color: white;
    border: 1px black solid;
    position: fixed;
    z-index: 99999999;
    border-radius: 5px;
}

.call-burndown{
    width: 100%;
    text-align: center;
    vertical-align: bottom;
    position:absolute;
    bottom:0px;
    cursor: pointer;
    background-color: #fbcb09;
    font-weight: bold;
}

.scrum-burndown.close{
    margin-top: -415px;
}

#container{
    margin-bottom: 15px;
}

.portlet { margin-left: 5%; margin-right: 5%; margin-bottom: 1em; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; cursor: move;}
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }


#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#FFF; border:8px solid #444; padding:12px;}
#simplemodal-container a.modalCloseImg {
    background:url(/media/img/x.png) no-repeat; /* adjust url as required */
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}