<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <link rel="stylesheet" href="/media/js/themes/base/jquery.ui.all.css">
    <link rel="stylesheet" href="/media/css/base.css">
    <script src="/media/js/ui/jquery.ui.core.js"></script>
	<script src="/media/js/ui/jquery.ui.widget.js"></script>
	<script src="/media/js/ui/jquery.ui.mouse.js"></script>
	<script src="/media/js/ui/jquery.ui.draggable.js"></script>
    <script src="/media/js/jquery.simplemodal-1.4.1.js"></script>
    <script type="text/javascript" src="/media/js/highcharts.src.js"></script>
    <script type="text/javascript" src="/media/js/exporting.js"></script>
    <script type="text/javascript" src="/media/js/ui/jquery.ui.sortable.js"></script>
    <link rel="stylesheet" href="/media/js/themes/base/jquery.ui.all.css" type="text/css" media="all" />

    {% block script_add %}{% endblock %}
</head>
<body>
{# <ul> #}
{#     <li><a href="/admin/">Admin</a></li> #}
{# </ul> #}
{% block body %}
{% endblock %}
</body>
{% block end_scripts %}
{% endblock %}
</html>