{% extends 'base.html' %}

{% block title %}
    ScrumManager - {{ now }}
{% endblock %}

{% block body %}
<div class="container">
  <div class="sprints">
      Sprints
      <ul>
          {% if sprints %}
              {% for sprint in sprints %}
                  <li><a href="?sprint_id={{ sprint.pk }}">{{ sprint.project }} - {{ sprint.name }}</a></li>
              {% endfor %}
          {% else %}
              <li>
                  Nenhum Sprint foi criado.
              </li>
          {% endif %}
      </ul>
  </div>
</div>
{% endblock %}
